h5.players {
    background: linear-gradient(0deg, #000000, #faca36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}

h5.players {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 3.4rem;
    font-size: 2.6rem;
    line-height: 4.2rem;
    text-align: center;
    color: #cd122d;
    font-family: ;
    font-weight: 400;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.nav-pills .nav-link.active {
    color: #fff;
    background: #faca36;
}

.nav-pills .nav-link {
    border-radius: .2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    word-spacing: normal;
    text-transform: uppercase;
    font-size: 0.6rem;
    line-height: 1.4rem;
    display: inline-block;
    text-decoration: none;
    color: #222;
    padding: .8rem 1.6rem;
    background-color: #f8f8f8;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .15);
    z-index: 10;
    margin-left: 5px;
}

.nav-pills .nav-link:hover {
    background: #faca36;
    color: #fff;
}


/*===========================================
 TEAM
 ====================================*/

#players {
    padding: 5rem;
}

#players h1 {
    text-align: center;
    text-transform: uppercase;
}

#players .hr-team {
    position: relative;
    left: 33%;
    width: 400px;
    border-top: 3px solid rgba(250, 202, 54);
}

#players .team-person-picture img {
    height: 457px;
}

#players .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .4;
    width: 100%;
    background: #060606;
}

#players .team-item img {
    width: 100%;
    height: 457px;
}

#players .team-item {
    overflow: hidden;
    position: relative;
}

#players .team-text {
    position: absolute;
    padding: 20px;
    border: 1px solid #ffffff7a;
    width: 100%;
    bottom: 0;
    transform: translateY(110%);
    -webkit-transform: translateY(110%);
    -ms-transform: translateY(110%);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}

#players .team-text p {
    text-align: justify;
}

#players .team-item:hover .team-text {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
}

#players .team-item:hover .team-info-person {
    bottom: 30%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

#players .team-item:hover .team-img {
    transform: scale(1.15);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

#players .team-img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

#players .team-info-person {
    position: absolute;
    bottom: 0;
    left: 15%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    text-align: center;
}

#players .team-info-person-p .name-large {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    font-style: italic;
    color: hsl(0deg 72% 43%);
    position: absolute;
    line-height: 7rem;
    left: 50%;
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
    bottom: 4rem;
    text-transform: uppercase;
}

#players .team-info-person-p .name-large {
    background: linear-gradient(180deg, hsl(0deg 100% 99% / 37%), hsla(0, 0%, 100%, 0) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #19020200;
    color: #fff;
}

#players .team-info-person-p .number,
#players .team-info-person-p .name,
#players .team-info-person .position {
    font-family: 'Ubuntu', sans-serif;
    margin-right: .6rem;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 3rem;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .5), rgba(0, 0, 0, .2)), linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    /* font-style: italic; */
}

#players .team-info-person-p .firt-name {
    font-family: 'Ubuntu', sans-serif;
    margin-right: .6rem;
    font-size: 1.1rem;
    line-height: 3rem;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .5), rgba(0, 0, 0, .2)), linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}

#players .team-info-person .position {
    font-family: 'Ubuntu', sans-serif;
    margin-right: .6rem;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 3rem;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .5), rgba(0, 0, 0, .2)), linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
    bottom: 2rem;
}

#players .team-text .info-games {
    display: inline-grid;
    padding: 5px;
    /* font-size: 20px; */
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

#players .team-text .info-games .title-games {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    text-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, .2);
}

#players .team-text .info-games .number-games {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.2rem;
    line-height: 3.2rem;
}

#players .team-text .info-games .year-games {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    color: #fff;
    opacity: .6;
    vertical-align: text-top;
    white-space: pre-wrap;
}

@media (max-width: 767px) {
    #players .team-info-person {
        left: 25%;
    }
}